.print-source {
  display: none;
  padding: 20px 5px;
}

body > .print-source {
  display: block;
}

h1 {
  text-align: center;
  font-size: 40px;
}

@media print {
  .print-source {
    display: block;
  }
}

.info {
  margin-bottom: 32px;
}
.ant-table-cell {
  font-size: 13px;
}
