.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input {
  box-sizing: border-box !important;
  margin: 0 !important;
  font-variant: tabular-nums !important;
  list-style: none !important;
  font-feature-settings: "tnum", "tnum" !important;
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  min-width: 0 !important;
  padding: 4px 11px !important;
  color: rgba(0, 0, 0, 0.85) !important;
  font-size: 14px !important;
  line-height: 1.5715 !important;
  background-image: none !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 5px !important;
  transition: all 0.3s !important;
}
